@font-face {
  font-family: "demo-icon";
  src: url('../assets/font/iconfont.woff') format('woff'),
  url('../assets/font/iconfont.ttf') format('truetype')
}

[class^="demo-icon"], [class*=" demo-icon"]{
  font-family: "demo-icon" !important;
  font-size: 100%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.demo-icon-biaodan:before {
  content: "\e715";
}

.demo-icon-gundong:before {
  content: "\e627";
}

.demo-icon-zhinengyuyinjiaohu:before {
  content: "\e665";
}

.demo-icon-uikit:before {
  content: "\f251";
}

